

/* Background Umum */
body {
    background-color: #DAF1DE;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #163832;
}

/* Judul Halaman */
h1 {
    text-align: center;
    color: #235347;
    text-shadow: 1px 1px 2px #999;
}

/* Garis Pembatas */
hr {
    height: 2px;
    background-color:#235347;
    border: none;
    margin: 10px 0;
}

/* Navigasi */
nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #DAF1DE;
    background-color: #235347;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color:#0B2B26;
    color: white;
}

/* Tabel */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;  /* Menggabungkan border antar sel */
    text-align: center;
    display: block;
    overflow-x: auto;
    border: none;  /* Menghapus border luar tabel */
}

th, td {
    padding: 10px;
}

th {
    background-color: #8EB69B;
    color: #0B2B26;
}

td {
    background-color: white;
    color: #163832;
}

tr:hover td {
    background-color: #8EB69B;
}

/* Responsif */
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px auto;
    }

    table {
        font-size: 14px;
        width: 100%;
    }
}
